<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/design.css" />
    <title>Cricket vs Baseball</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

  </head>

  <body>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="home-tab"
          data-toggle="tab"
          href="#home"
          role="tab"
          aria-controls="home"
          aria-selected="true"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="profile-tab"
          data-toggle="tab"
          href="#profile"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
          >Predict</a
        >
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="card-deck">
          <div class="card border-primary mb-3">
            <img src="../static/Dhoni.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Cricket batsman vs baseball batsman</h5>
              <p class="card-text">
                The main aim of the web app is to differentiate between cricket
                batsman and baseball batsman.
              </p>
            </div>
          </div>
          <div class="card border-primary mb-3">
            <img src="../static/base1.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Input Type</h5>
              <p class="card-text">
                Give an image of cricket batsman or baseball batsman as an input
                then the model will classify weather the image that the image is
                a cricket batsman or baseball batsman.
              </p>
            </div>
          </div>
          <div class="card border-primary mb-3">
            <img src="../static/cricket.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Model</h5>
              <p class="card-text">
                The model is trained with 50 images of cricket batsman and 50
                image of baseball batsman. The training accuracy of the model is
                93%.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <div
          id="myclass"
          class="card-deck"
          style="width: 650px ;height: 300px;"
        >
          <div class="card border-primary mb-3">
            <div class="card-body">
              <h5 class="card-title">Cricket batsman vs baseball batsman</h5>
              <p class="card-text">
                <img
                  id="img"
                  src="../static/index.jpeg"
                  height="100"
                  width="200"
                  class="img-thumbnail"
                  alt=""
                />
                
                <form method="POST" action="{{url_for('predict')}}" enctype="multipart/form-data">
                    <div class="custom-file">
                        
                <input id="file" type="file" accept="/image*" name="img"  required>
                
                <br>
                <br>
                <button id="bn" class="btn btn-outline-success" type="submit">Predict</button>
              </div>
              </form>
               
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
